<div style =  "margin: 0 auto" class = "container row border">
  <div class = "d-flex justify-content-center">
    <div class = "col-8">
      <div class = "m-3 p-2 border rounded shadow-sm bg-light">
        <h2><%= @flat.name %></h2>
        <p><%= @flat.address %></p>
      </div>
      <div class = "m-3 p-2 border rounded shadow-sm bg-light">
        <h3>A bit more about this flat...</h3>
        <p><%= @flat.description %></p>
      </div>
      <div class = "m-3 p-2 border rounded shadow-sm bg-light">
        <h3>Details</h3>
        <p><i class="fa-solid fa-user"></i> <%= @flat.number_of_guests %>    <i class="fa-solid fa-euro-sign"></i> <%= @flat.price_per_night %></p>
      </div>
    </div>
    <form class = "col-4">
      <p>Book this place!</p>
      <div class = "row">
        <label class = "col-sm-2 col-form-label" for="start"> From: </label>
        <div class = "col-sm-2">
          <input type="date" name="start" placeholder="dd-mm-yyyy">
        </div>
      </div>
      <div class = "row">
        <label class = "col-sm-2 col-form-label" for="End"> Until: </label>
        <div class = "col-sm-2">
          <input type="date" name="End" placeholder="dd-mm-yyyy" id = "End">
        </div>
      </div>
    </form>
  </div>
</div>
